html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans' serif;
}
*, *:bofore, *:after{
    box-sizing: inherit;
}

body{
    background-image: url("img/backgr.png");
    background-size: cover;
    width:100%;
    
}


.title{
    display: flex;
    justify-content: center;
    background-size: cover;

    /* figure this out */
    width: 100%;
    height: 50vh;  
    
    font-size: 39px;
    font-weight: bold;
    text-align: center;

    flex-direction: column;
    text-shadow: 0 0 10px rgb(133, 5, 5);
    position:relative;

}

.section{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5%;
}

.question{
    display: flex;

    width: 35%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    text-align: center;

    backdrop-filter: blur(50px);

}

.answers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}


input[type="radio"]{
    display:none;
}

label{   
    height: 175px;
    width: 40%;
    display:flex;
    border-radius: 13px; 
    flex-wrap: wrap;  

    flex-direction: row;
    text-align: center;
    
    backdrop-filter: blur(50px);
}


label:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.labelText{
    display: flex;
    align-self:center;
    background-color: blue;
    /* text-align: center; */
    
    font-size: 30px;
    color: white;
    justify-content: center;
    

}

.unChecked {
    opacity: .5;
}

.checked{
    opacity: 1;
    
}

.button{
    display: flex;
    justify-content: center;
}

#doneButton{
    align-self: center;
    background-color:#6B91C0;
    color: #DCE8F2;
    outline: 0px;
    align-self: center;
    margin:20px;
    width: 100px;
    border-radius: 7px;
    
}

#doneButton:hover{
    background-color:#DCE8F2;
    color: #6B91C0;
    transition: 250ms;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}